<% listing_types.each do |listing_type| %>
  <div class="form-radio">
    <% checked = (listing_type == params["pt"] || @listing_types.count == 1) ? "checked" : "" %>
    <input <%= checked %> id="property_<%= listing_type %>" name="pt" type="radio" class="form-radio-input" value="<%= listing_type %>" data-action="change->filter#submitForm">
    <label for="property_<%= listing_type %>" class="form-radio-input"><%= t(listing_type) %></label>
  </div>
<% end %>
