<!-- Item-->
<div class="col-sm-6 col-xl-4">
  <div class="card shadow-sm card-hover border-0 h-100">
    <div class="tns-carousel-wrapper card-img-top card-img-hover">
      <a class="img-overlay" href="<%= listing_path(listing) %>"></a>
      <% badge = listing.operation == "rent" ? t('for_rent') : t('for_sale') %>
      <div class="position-absolute start-0 top-0 pt-3 ps-3">
        <span class="d-table badge bg-success mb-1"><%= badge %></span>
      </div>
      <!--
      <div class="content-overlay end-0 top-0 pt-3 pe-3">
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Wishlist"><i class="fi-heart"></i></button>
      </div>
      -->
      <div class="tns-carousel-inner listings-index">
        <% if listing.image_urls.present? %>
          <% listing.image_urls.each do |image| %>
            <%= image_tag(image.url, alt: "#{listing.listing_subtype} #{listing.town_name}", class: "img-fluid", quality: "auto") %>
          <% end %>
        <% end %>
      </div>
      <% if listing.mark.present? %>
        <div class="position-absolute start-50 top-50 translate-middle text-danger d-flex justify-content-center align-items-center fs-1 fw-bold text-uppercase">
          <% if listing.mark == "sold" %>
            <%= t('sold') %>
          <% elsif listing.mark == "rented" %>
            <%= t('rented') %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card-body position-relative pb-3">
      <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary"><%= listing.operation == "sale" ? t('on_sale') : t('for_rent') %></h4>
      <h3 class="h6 mb-2 fs-base">
        <% listing_surface = listing.built_area.present? ? listing.built_area : listing.usable_area %>
        <%= link_to "#{t(listing.listing_subtype)} | #{listing_surface&.round} m²", listing, class: "nav-link stretched-link" %>
      </h3>
      <p class="mb-2 fs-sm text-muted"><%= "#{listing.town_area}, " if listing.town_area.present? %><%= listing.town_name %></p>
      <% price = listing.salesprice || listing.rentprice %>
      <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i><%= number_to_currency(price, locale: locale, precision: 0) %></div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap">
      <span class="d-inline-block mx-1 px-2 fs-sm">
        <% if listing.bedrooms.present? %>
          <span class="d-inline-block mx-1 px-2 fs-sm">
            <%= listing.bedrooms %><i class="fi-bed ms-1 mt-n1 fs-lg text-muted"></i>
          </span>
        <% end %>
        <% if listing.bathrooms.present? %>
          <span class="d-inline-block mx-1 px-2 fs-sm">
            <%= listing.bathrooms %>
            <i class="fi-bath ms-1 mt-n1 fs-lg text-muted"></i>
          </span>
        <% end %>
        <% if listing.lift.present? %>
          <span class="d-inline-block mx-1 px-2 fs-sm">
            <%= t('lift') %>
          </span>
        <% end %>
        <% if listing.terrace.present? %>
          <span class="d-inline-block mx-1 px-2 fs-sm">
            <%= t('lift') %>
          </span>
        <% else %>
          <span class="d-inline-block mx-1 px-2 fs-sm">
          </span>
        <% end %>
      </div>
    </div>
  </div>
