<section class="container mt-5 mb-lg-5 mb-4 pt-5 pb-lg-5">
  <%= render 'shared/breadcrumb' %>
  <div class="row gy-5 pt-lg-2">
    <div class="col-lg-7">
      <div class="d-flex flex-column">
        <div class="order-lg-1 order-2">
          <div class="tns-carousel-wrapper listings-show">
            <div class="tns-slides-count text-light"><i class="fi-image fs-lg me-2"></i>
              <div class="ps-1"><span class="tns-current-slide fs-5 fw-bold"></span><span class="fs-5 fw-bold">/</span><span class="tns-total-slides fs-5 fw-bold"></span></div>
            </div>
            <div class="tns-carousel-inner listings-show" data-carousel-options="{&quot;navAsThumbnails&quot;: true, &quot;navContainer&quot;: &quot;#thumbnails&quot;, &quot;gutter&quot;: 12, &quot;responsive&quot;: {&quot;0&quot;:{&quot;controls&quot;: false},&quot;500&quot;:{&quot;controls&quot;: true}}}">
              <% @listing.image_urls.each do |image| %>
                <div>
                  <%= image_tag image.url, alt: "#{@listing.listing_subtype} #{@listing.town_name}", class: "img-fluid" %>
                </div>
              <% end %>
            </div>
          </div>
          <!-- Thumbnails nav-->
          <ul class="tns-thumbnails mb-4" id="thumbnails">
            <% @listing.image_urls.each do |image| %>
              <li class="tns-thumbnail listings-show-thumbnail">
                <%= image_tag image.url, alt: "#{@listing.listing_subtype} #{@listing.town_name}" %>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- Page title + Features-->
        <div class="order-lg-2 order-1">
          <h1 class="h2 mb-2"><%= @listing.send("title_#{locale}")&.capitalize %></h1>
          <p class="mb-2 pb-1 fs-lg"><%= @listing.address %></p>
          <ul class="d-flex mb-4 pb-lg-2 list-unstyled">
            <% if @listing.bedrooms.present? %>
              <li class="me-3 pe-3 border-end"><b class="me-1"><%= @listing.bedrooms %></b><i class="fi-bed mt-n1 lead align-middle text-muted"></i></li>
            <% end %>
            <% if @listing.bathrooms.present? %>
              <li class="me-3 pe-3 border-end"><b class="me-1"><%= @listing.bathrooms %></b><i class="fi-bath mt-n1 lead align-middle text-muted"></i></li>
            <% end %>
            <% if @listing.property_surface.present? %>
              <li><b><%= @listing.property_surface %></b></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- Overview-->
      <h2 class="h5"><%= @listing.send("title_#{locale}")&.capitalize %></h2>
      <p class="mb-4 pb-2"><%= @listing.send("description_#{locale}") %></p>
    </div>
    <!-- Sidebar with details-->
    <aside class="col-lg-5">
      <div class="mb-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <div><span class="badge bg-success me-2 mb-2"><%= @listing.operation == "sale" ? t('on_sale') : t('for_rent') %></span></div>
          <div class="text-nowrap">
            <!--
            <button class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle ms-2 mb-2" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="fi-heart"></i></button>
            -->
            <div class="dropdown d-inline-block" data-bs-toggle="tooltip" title="Share">
              <button class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle ms-2 mb-2" type="button" data-bs-toggle="dropdown">
                <i class="fi-share"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end my-1">
                <a class="dropdown-item" href="#" onclick="shareOnWhatsApp()">
                  <i class="fi-whatsapp fs-base opacity-75 me-2"></i>WhatsApp
                </a>
                <a class="dropdown-item" href="#" onclick="copyLink()">
                  <i class="fi-link fs-base opacity-75 me-2"></i><%= t('copy_link') %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <h3 class="h5 mb-2"><%= @listing.salesprice.present? ? t('sales_price') : t('rent_price') %></h3>
        <% price = @listing.salesprice || @listing.rentprice %>
        <h2 class="h3 mb-4 pb-2"><%= number_to_currency(price, locale: locale, precision: 0) %><span class="d-inline-block ms-1 fs-base fw-normal text-body"></span></h2>
        <!-- Property details-->
        <div class="card border-0 bg-secondary mb-4">
          <div class="card-body">
            <h5 class="mb-0 pb-3"><%= t('details') %></h5>
            <ul class="list-unstyled mt-n2 mb-0">
              <li class="mt-2 mb-0"><b><%= t('property_type') %>: </b><%= t(@listing.listing_subtype) %></li>
              <li class="mt-2 mb-0"><b><%= t('property_surface') %>: </b><%= @listing.property_surface %></li>
              <li class="mt-2 mb-0"><b><%= t('number_bedrooms') %>: </b><%= t(@listing.bedrooms) %></li>
              <li class="mt-2 mb-0"><b><%= t('number_bathrooms') %>: </b><%= t(@listing.bathrooms) %></li>
              <li class="mt-2 mb-0"><b><%= t('preservation') %>: </b><%= t(@listing.preservation) %></li>
              <li class="mt-2 mb-0"><b><%= t('energy_certificate') %>: </b><%= t(@listing.energy_cert) || t('in_process') %></li>
            </ul>
          </div>
        </div>
        <% whatsapp_message = "#{t('contacting_about')} #{@listing.property_address}" %>
        <a class="btn btn-lg btn-success w-100 mb-3" href="https://wa.me/34647934766?text=<%= whatsapp_message %>"><i class="fi-whatsapp me-2"></i><%= t('contact_by_whatsapp') %></a>
        <!-- Features-->
        <% if @listing.features.present? %>
          <div class="card border-0 bg-secondary mb-4">
            <div class="card-body">
              <h5><%= t('features') %></h5>
              <ul class="list-unstyled row row-cols-md-2 row-cols-1 gy-2 mb-0 text-nowrap">
                <% @listing.features.each do |feature| %>
                  <%# fixme: add font awesome icons? %>
                  <li class="col"><%= t(feature) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Contact card-->
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <ul class="list-unstyled border-bottom mb-4 pb-4">
            <li><a class="nav-link fw-normal p-0" href="tel:972100834"><i class="fi-phone mt-n1 me-2 align-middle opacity-60"></i>972 100 834</a></li>
            <li><a class="nav-link fw-normal p-0" href="mailto:info@sistachfinques.com"><i class="fi-mail mt-n1 me-2 align-middle opacity-60"></i>info@sistachfinques.com</a></li>
          </ul>
          <!-- Contact form-->
          <%= render 'listing_contact' %>
        </div>
      </div>
    </aside>
  </div>
  <%# render 'recently_viewed' %>
  <script>
    function shareOnWhatsApp() {
      const url = encodeURIComponent(window.location.href);
      const shareUrl = `https://wa.me/?text=${url}`;
      window.open(shareUrl, 'whatsapp-share-dialog', 'width=800,height=600');
      return false;
    }

    function copyLink() {
      const url = window.location.href;
      navigator.clipboard.writeText(url).then(() => {
        alert('Link copied to clipboard');
      }).catch(err => {
        console.error('Could not copy text: ', err);
      });
      return false;
    }
  </script>
