    <!-- Footer-->
<footer class="footer bg-secondary pt-5 overflow-hidden">
  <div class="pt-lg-4 pb-4">
    <!-- Links-->
    <div class="row mb-5 pb-md-3 pb-lg-4 px-4">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="d-flex flex-sm-row flex-column justify-content-between mx-n2">
          <div class="mb-sm-0 mb-4 px-2"><a class="d-inline-block mb-4" href="real-estate-home-v1.html">
              <%= image_tag "logo.png", width: "116", alt: "Sistach Finques" %>
            </a>
            <ul class="nav flex-column mb-sm-4 mb-2">
              <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" href="mailto:info@sistachfinques.com"><i class="fi-mail mt-n1 me-2 align-middle opacity-70"></i>info@sistachfinques.com</a></li>
              <li class="nav-item"><a class="nav-link p-0 fw-normal" href="tel:609076292"><i class="fi-device-mobile mt-n1 me-2 align-middle opacity-70"></i>609 076 292</a></li>
            </ul>
            <div class="pt-2">
              <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="#"><i class="fi-facebook"></i></a>
              <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="#"><i class="fi-whatsapp"></i></a></i></a>
        </div>
      </div>
      <div class="mb-sm-0 mb-4 px-2">
        <h4 class="h5"><%= t('more_info') %></h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <%= link_to t('buy_property'), listings_path(ot: "sell"), class: "nav-link p-0 fw-normal" %>
          </li>
          <li class="nav-item mb-2">
            <%= link_to t('sell_property'), contact_us_path, class: "nav-link p-0 fw-normal" %>
          </li>
          <li class="nav-item mb-2">
            <%= link_to t('rent_property'), listings_path(ot: "rent"), class: "nav-link p-0 fw-normal" %>
          </li>
          <li class="nav-item mb-2">
            <%= link_to t('about_us'), about_us_path, class: "nav-link p-0 fw-normal" %>
          </li>
          <li class="nav-item mb-2">
            <%= link_to t('contact_us'), contact_us_path, class: "nav-link p-0 fw-normal" %>
          </li>
          <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal" href="#cost-calculator" data-bs-toggle="modal"><i class="fi-calculator me-2"></i><%= t('request_free_evaluation') %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-5 col-lg-6 offset-xl-1">
    <h4 class="h5"><%= t('why_choose_us') %></h4>
    <article class="d-flex align-items-start" style="max-width: 640px;">
      <%= link_to about_us_path, class: "d-none d-sm-block flex-shrink-0 me-sm-4 mb-sm-0 mb-3" do %>
        <%= image_tag "real-estate/blog/th01.jpg", class: "rounded-3", width: "100", alt: "Blog post"%>
      <% end %>
      <div>
        <h6 class="mb-1 fs-xs fw-normal text-uppercase text-primary"><%= t('professional_title') %></h6>
        <h5 class="mb-2 fs-base">
          <%= link_to about_us_path, class: "nav-link" do %>
            <%= t('professional_subtitle') %>
          <% end %>
        </h5>
        <p class="mb-2 fs-sm"><%= t('professional_text').truncate(150) %></p>
      </div>
    </article>
    <hr class="text-dark opacity-10 my-4">
    <article class="d-flex align-items-start" style="max-width: 640px;">
      <%= link_to about_us_path, class: "d-none d-sm-block flex-shrink-0 me-sm-4 mb-sm-0 mb-3" do %>
        <%= image_tag "real-estate/blog/th02.jpg", class: "rounded-3", width: "100", alt: "Sistach Finques"%>
      <% end %>
      <div>
        <h6 class="mb-1 fs-xs fw-normal text-uppercase text-primary"><%= t('solvent_title') %></h6>
        <h5 class="mb-2 fs-base">
          <%= link_to about_us_path, class: "nav-link" do %>
            <%= t('solvent_subtitle') %>
          <% end %>
        </h5>
        <p class="mb-2 fs-sm"><%= t('solvent_text').truncate(150) %></p>
      </div>
    </article>
  </div>
</div>
<!-- Banner-->
<div class="bg-dark">
  <div class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-center pt-md-3 pt-5 ps-xxl-4 text-md-start text-center">
    <div class="text-center fs-sm p-4">
      <%= image_tag("memberships.png", class: "img-fluid", alt: "Sistach Finques Api", style: "max-height: 70px;") %>
    </div>
  </div>
</div>
<div class="text-center fs-sm pt-4 mt-3 pb-2">
  &copy; 2012 - <%= Date.today.year %> Sistach Finques <%= t('copyright') %>
</div>
</div>
</footer>
<!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
