  <!-- Navbar-->
<header
    class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
    data-scroll-header
  >
  <div class="container">
    <%= link_to root_path do %>
      <%=image_tag("logo.png", width: "156", class: "navbar-brand me-3 me-xl-4", alt: "Sistach Finques") %>
    <% end %>
    <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--
      <a
        class="btn btn-sm text-primary d-none d-lg-block order-lg-3"
        href="#signin-modal"
        data-bs-toggle="modal"
        ><i class="fi-user me-2"></i><%= t('sign_in') %></a
      ><a
        class="btn btn-primary btn-sm ms-2 order-lg-3"
        href="real-estate-add-property.html"
        ><i class="fi-plus me-2"></i><%= t('add') %><span class="d-none d-sm-inline">
        <%= t('property') %></span
        ></a
      >
      -->
    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem">
        <!-- Menu items-->
        <li class="nav-item active">
          <%= link_to t('home'), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><%= t('properties') %></a
            >
          <ul class="dropdown-menu">
            <% if Listing.where(operation: "sale").present? %>
              <li>
                <%= link_to t('properties_for_sale'), listings_path(ot: "sale"), class: "dropdown-item" %>
              </li>
            <% end %>
            <% if Listing.where(operation: "rent").present? %>
              <li>
                <%= link_to t('properties_for_rent'), listings_path(ot: "rent"), class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to t('about_us'), about_us_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('contact_us'), contact_us_path, class: "nav-link" %>
        </li>
        <!--
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="#signin-modal" data-bs-toggle="modal"
              ><i class="fi-user me-2"></i><%= t('sign_in') %></a
            >
        </li>
        -->
      </ul>
    </div>
  </div>
</header>
