<nav class="bg-white shadow pb-2 border-b border-slate-300" data-controller='toggle'>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="-ml-2 mr-2 flex items-center md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-sky-500" aria-controls="mobile-menu" aria-expanded="false" data-action='click->toggle#toggle touch->toggle#toggle'>
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only"><%= t('open_main_menu') %></span>
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex justify-between gap-8">
          <div class="flex flex-shrink-0 items-end">
            <%= image_tag("logo.png", class: "h-8 w-auto", alt: "Sistach Finques") %>
          </div>
          <div class="hidden md:ml-6 md:flex md:space-x-8">
            <% desktop_current = "border-sky-500 text-gray-900" %>
            <% desktop_default = "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" %>
            <!-- Current: "border-sky-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <%= link_to t('home'), root_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium #{ current_page?(root_path) ? desktop_current : desktop_default }" %>
            <%= link_to t('listings'), listings_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium #{ current_page?(listings_path) ? desktop_current : desktop_default }" %>
            <%= link_to t('about_us'), about_us_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium #{ current_page?(about_us_path) ? desktop_current : desktop_default }" %>
            <%= link_to t('contact'), contact_us_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium #{ current_page?(contact_us_path) ? desktop_current : desktop_default }" %>
          </div>
        </div>
      </div>
      <%= render 'shared/desktop_profile_menu' %>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu" data-toggle-target='toggleable'>
    <div class="space-y-1 pb-3 pt-2">
      <!-- Current: "bg-cyan-50 border-sky-500 text-sky-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
      <% mobile_current = "bg-cyan-50 border-sky-500 text-sky-700" %>
      <% mobile_default = "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" %>
      <%= link_to t('home'), root_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium sm:pl-5 sm:pr-6 #{ current_page?(root_path) ? mobile_current : mobile_default }" %>
      <%= link_to t('on_sale'), sale_listings_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium sm:pl-5 sm:pr-6 #{ current_page?(sale_listings_path) ? mobile_current : mobile_default }" %>
      <%= link_to t('for_rent'), rental_listings_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium sm:pl-5 sm:pr-6 #{ current_page?(rental_listings_path) ? mobile_current : mobile_default }" %>
      <%= link_to t('about_us'), about_us_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium sm:pl-5 sm:pr-6 #{ current_page?(about_us_path) ? mobile_current : mobile_default }" %>
      <%= link_to t('contact'), contact_us_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium sm:pl-5 sm:pr-6 #{ current_page?(contact_us_path) ? mobile_current : mobile_default }" %>
      <!--
      <%= link_to t('add_your_listing'), new_listing_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium sm:pl-5 sm:pr-6 #{ current_page?(new_listing_path) ? mobile_current : mobile_default }" %>
      -->
    </div>
    <%# render "shared/mobile_profile_menu" %>
  </div>
</nav>
