<form class="form-group d-block" action="<%= listings_path %>" method="get">
  <div class="row g-0">
    <div class="col-md-10 d-sm-flex align-items-center">
      <div class="dropdown w-sm-50 border-end-sm" data-bs-toggle="select">
        <% if @all_operations.count == 1 %>
          <!-- If only one option, show it as selected and disable the dropdown -->
          <button class="btn btn-lg btn-link ps-2 ps-sm-3" type="button" disabled>
            <i class="fi-home me-2"></i><span class="dropdown-toggle-label"><%= t("#{@all_operations.first}") %></span>
          </button>
          <input type="hidden" name="ot" value="<%= t(@all_operations.first) %>">
        <% else %>
          <!-- Otherwise, render the dropdown as usual -->
          <button class="btn btn-lg btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
            <i class="fi-home me-2"></i><span class="dropdown-toggle-label"><%= t(@all_operations.first) %></span>
          </button>
          <input type="hidden" name="ot" value="<%= t(@all_operations.first) %>">
          <ul class="dropdown-menu">
            <% @all_operations.each do |operation| %>
              <li><a class="dropdown-item" href="#"><span class="dropdown-item-label"><%= t("#{operation}") %></span></a></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <hr class="d-sm-none my-2">
      <div class="dropdown w-sm-50 border-end-sm" data-bs-toggle="select">
        <button class="btn btn-lg btn-link dropdown-toggle ps-2 ps-sm-3" type="button" data-bs-toggle="dropdown">
          <i class="fi-map-pin me-2"></i><span class="dropdown-toggle-label"><%= t('select_town') %></span>
        </button>
        <input type="hidden" name="t">
        <ul class="dropdown-menu">
          <% @all_towns.each do |town| %>
            <li><a class="dropdown-item" href="#"><span class="dropdown-item-label"><%= town %></span></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <hr class="d-md-none mt-2">
    <div class="col-md-2 d-sm-flex align-items-center pt-3 pt-md-0">
      <button class="btn btn-lg btn-icon btn-primary px-3 w-100" type="submit"><%= t('search') %></button>
    </div>
  </div>
</form>
<script>
  document.querySelectorAll('.dropdown-item').forEach(item => {
    item.addEventListener('click', event => {
      let dropdown = event.target.closest('.dropdown');
      let hiddenInput = dropdown.querySelector('input[type="hidden"]');
      let button = dropdown.querySelector('.dropdown-toggle-label');

      hiddenInput.value = event.target.innerText.trim();
      button.innerText = event.target.innerText.trim();
    });
  });
</script>
