<h2><%= t("new_contact_submitted", locale: 'ca') %></h2>
<% if @listing %>
  <p><strong><%= t("listing_reference", locale: 'ca') %>:</strong> <%= @listing.ref_number %></p>
  <p><strong><%= t("listing_address", locale: 'ca') %>:</strong> <%= @listing.speclocation %> <%= @listing.town_name %></p>
<% end %>
<p><strong><%= t("name", locale: 'ca') %>:</strong> <%= @contact.name %></p>
<p><strong><%= t("email", locale: 'ca') %>:</strong> <%= @contact.email %></p>
<%= if @contact.phone.present? %>
  <p><strong><%= t("phone", locale: 'ca') %>:</strong><%= @contact.phone %></p>
<% end %>
<%= if @contact.budget.present? %>
  <p><strong><%= t("budget", locale: 'ca') %>:</strong><%= @contact.budget %></p>
<% end %>
<p><strong><%= t("message", locale: 'ca') %>:</strong> <%= @contact.message %></p>
