<h2><%= t("new_contact_submitted", locale: 'ca') %></h2>
<p><strong><%= t("name", locale: 'ca') %>:</strong> <%= @contact.name %></p>
<p><strong><%= t("email", locale: 'ca') %>:</strong> <%= @contact.email %></p>
<p><strong><%= t("phone", locale: 'ca') %>:</strong><%= @contact.phone %></p>
<p><strong><%= t("budget", locale: 'ca') %>:</strong><%= @contact.budget %></p>
<p><strong><%= t("message", locale: 'ca') %>:</strong> <%= @contact.message %></p>
