<h1>Nova sol.licitud d'evaluació d'immoble</h1>
<p><strong>Tipus d'immoble:</strong> <%= t(@property_type, locale: "ca") %></p>
<p><strong>Adreça:</strong> <%= @property_address %></p>
<p><strong>Número d'habitacions:</strong> <%= @property_bedrooms %></p>
<p><strong>Superficie:</strong> <%= @property_surface %></p>
<p><strong>Contactar per:</strong> <%= @contact_info %></p>
