<!-- Page content-->
<div class="d-none d-md-block">
  <%= render 'header_md' %>
</div>
<div class="d-md-none">
  <%= render 'header_sm' %>
</div>
<%= render 'top_offers' %>
<%= render 'property_calculator' %>
<%= render 'services' %>
